* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.game_box {
    width: 300px;
    height: 300px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
    background: #cacaca45;
}

h1, h2, h3 {
    padding: 5px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    width: 100px;
    height: 100px;
}